{% extends "App.twig" %}
 {% block content %}       
    <h1>Test page</h1>
    <h2>jghjhg</h2>
    {% if result is array %}
        {% for key, value in result %}
        
        <div>
            <span> {{ value.id }} </span>
            <span> {{ value.name}}</span>
        </div>
        {% endfor %}
     {% else %}
     <div>
        <span> {{ result.id }} </span>
        <span> {{ result.name}}</span>
    </div>
    {% endif %}
{% endblock %}
